:root {
    --font-quicksand: 'Quicksand', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ensures video scales without distortion */
    z-index: -1; /* Send video behind content */
}

main {
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    transform: translateX(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    text-align: center;
}

.video {
    width: 99.5%;
    height: 99.5%;
    object-fit: cover;
    display: block;
}

.flap {
    width: 100%;
    height: 100%;
}

.title {    
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(122, 148, 182);
    font-family: var(--font-quicksand);
    font-size: 10px;
    z-index: 3;
}

.flap::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 100%;
    background: #23242e;
    transition: 1s;
}

.flap::after {
    content: '';
    position: absolute;
    right: 0;
    width: 55%;
    height: 100%;
    background: #23242e;
    transition: 1s;
}

.wrapper.active .flap::after {
    transform: translateX(100%);
}

.wrapper.active .flap::before {
    transform: translateX(-100%);
}


@media (max-width: 500px) {
    .wrapper {
        width: 80%;
        height: 45%;
    }

    .content {
        aspect-ratio: 4 / 3;
    }

}

@media (max-width: 200px) {
    .wrapper {
        width: 80%;
        height: 80%;
    }

    .content {
        aspect-ratio: 4 / 3;
    }

    .title {
        font-size: 3px;
    }
}