:root {
    --font-quicksand: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

main {
    height: 100%;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 30%;
    right: 30%;
    width: 40%;
    height: 50%;
    transform: translateX(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.video {
    width: 100%;
    object-fit: cover;
}
.flap {
    width: 100%;
    height: 100%;
}
.title {
    position: absolute;
    top: 45%;
    left: 40%;
    color: rgb(122, 148, 182);
    font-family: var(--font-quicksand);
    font-size: 10px;
    z-index: 2;
}

.flap::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 90%;
    background: #1f1e21;
    transition: 1s;
}
.flap::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 90%;
    background: #1f1e21;
    transition: 1s;
}

.wrapper.active .flap::after {
    transform: translateX(100%);
}
.wrapper.active .flap::before {
    transform: translateX(-100%);
}


@media (max-width: 768px) {
    .wrapper {
        width: 80%;
        height: 45%;
        top: 10%;
        right: 10%;
    }
    
}